PROYECTO INDIVIDUAL - DATA ENGINEER

    Fase 1

In [1]:
#Importamos las librerias necesaria
import pandas as pd
import datetime as dt

In [2]:
#Creamos una funcion que toma el archivo json y lo convierte a csv ya que solo manejaremos archivos con esta extensi√≥n
import os
def Automatizacion ():
        archivo = input('Ingrese el path del archivo')
        split_tup = os.path.splitext(archivo) 
        nombre_archivo = split_tup[0] 
        extension_archivo = split_tup[1] 

        if (extension_archivo == '.json'):
                df_json = pd.read_json(archivo)    
                print('json cargado con exito')

                df_json.to_csv(nombre_archivo, index = False, sep=';' ,encoding = 'UTF-8')
                print('Convertido a csv')

In [3]:
Automatizacion()

json cargado con exito
Convertido a csv

In [4]:
#Almacenamos los csv en un dataframe de pandas
df_amazon = pd.read_csv(r"C:\Users\Lina_\OneDrive\Escritorio\PI_DataEngineer\Datasets\Amazon_prime_titles.csv", sep= ",")
df_disney = pd.read_csv(r"C:\Users\Lina_\OneDrive\Escritorio\PI_DataEngineer\Datasets\disney_plus_titles.csv", sep= ",")
df_hulu = pd.read_csv(r"C:\Users\Lina_\OneDrive\Escritorio\PI_DataEngineer\Datasets\hulu_titles.csv", sep= ",")
df_netflix = pd.read_csv(r"C:\Users\Lina_\OneDrive\Escritorio\PI_DataEngineer\Datasets\netflix_titles", sep=";")

In [5]:
#Iniciamos el EDA en cada uno de los dataframes
df_amazon.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [6]:
df_disney.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

In [7]:
df_hulu.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",‚ÄãComedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...

In [8]:
df_netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [9]:
#Vemos la informacion general de cada dataframe cantidad de valores nulos y cantidad de valores duplicados
df_amazon.info()
print("-----------------------------------")
print(df_amazon.isnull().sum())
print('-----------------------------------')
df_amazon.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB
-----------------------------------
show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64
-----------------------------------

0

In [10]:
df_disney.info()
print("-----------------------------------")
print(df_disney.isnull().sum())
print('-----------------------------------')
df_disney.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB
-----------------------------------
show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64
-----------------------------------

0

In [11]:
df_hulu.info()
print("-----------------------------------")
print(df_hulu.isnull().sum())
print('-----------------------------------')
df_hulu.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB
-----------------------------------
show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64
-----------------------------------

0

In [12]:
df_netflix.info()
print("-----------------------------------")
print(df_netflix.isnull().sum())
print('-----------------------------------')
df_netflix.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
-----------------------------------
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64
-----------------------------------

0

In [13]:
#Cambiamos el tipo de dato de las columnas
df_amazon["show_id"] = df_amazon["show_id"].astype("string")
df_amazon["type"] = df_amazon["type"].astype("string")
df_amazon["title"] = df_amazon["title"].astype("string")
df_amazon["director"] = df_amazon["director"].astype("string")
df_amazon["cast"] = df_amazon["cast"].astype("string")
df_amazon["country"] = df_amazon["country"].astype("string")
df_amazon["date_added"] = pd.to_datetime(df_amazon["date_added"]).dt.date
df_amazon["release_year"] = df_amazon["release_year"].astype("string")
df_amazon["rating"] = df_amazon["rating"].astype("string")
df_amazon["duration"] = df_amazon["duration"].astype("string")
df_amazon["listed_in"] = df_amazon["listed_in"].astype("string")
df_amazon["description"] = df_amazon["description"].astype("string")

In [14]:
df_disney["show_id"] = df_disney["show_id"].astype("string")
df_disney["type"] = df_disney["type"].astype("string")
df_disney["title"] = df_disney["title"].astype("string")
df_disney["director"] = df_disney["director"].astype("string")
df_disney["cast"] = df_disney["cast"].astype("string")
df_disney["country"] = df_disney["country"].astype("string")
df_disney["date_added"] = pd.to_datetime(df_disney["date_added"]).dt.date
df_disney["release_year"] = df_disney["release_year"].astype("string")
df_disney["rating"] = df_disney["rating"].astype("string")
df_disney["duration"] = df_disney["duration"].astype("string")
df_disney["listed_in"] = df_disney["listed_in"].astype("string")
df_disney["description"] = df_disney["description"].astype("string")

In [15]:
df_hulu["show_id"] = df_hulu["show_id"].astype("string")
df_hulu["type"] = df_hulu["type"].astype("string")
df_hulu["title"] = df_hulu["title"].astype("string")
df_hulu["director"] = df_hulu["director"].astype("string")
df_hulu["cast"] = df_hulu["cast"].astype("string")
df_hulu["country"] = df_hulu["country"].astype("string")
df_hulu["date_added"] = pd.to_datetime(df_hulu["date_added"]).dt.date
df_hulu["release_year"] = df_hulu["release_year"].astype("string")
df_hulu["rating"] = df_hulu["rating"].astype("string")
df_hulu["duration"] = df_hulu["duration"].astype("string")
df_hulu["listed_in"] = df_hulu["listed_in"].astype("string")
df_hulu["description"] = df_hulu["description"].astype("string")

In [16]:
df_netflix["show_id"] = df_netflix["show_id"].astype("string")
df_netflix["type"] = df_netflix["type"].astype("string")
df_netflix["title"] = df_netflix["title"].astype("string")
df_netflix["director"] = df_netflix["director"].astype("string")
df_netflix["cast"] = df_netflix["cast"].astype("string")
df_netflix["country"] = df_netflix["country"].astype("string")
df_netflix["date_added"] = pd.to_datetime(df_netflix["date_added"]).dt.date
df_netflix["release_year"] = df_netflix["release_year"].astype("string")
df_netflix["rating"] = df_netflix["rating"].astype("string")
df_netflix["duration"] = df_netflix["duration"].astype("string")
df_netflix["listed_in"] = df_netflix["listed_in"].astype("string")
df_netflix["description"] = df_netflix["description"].astype("string")

In [17]:
#A√±adiremos una column adicional a cada dataframe para distinguir los diferentes tipos de plataformas
df_amazon["plataforma"] = "amazon"
df_disney["plataforma"] = "disney plus"
df_hulu["plataforma"] = "hulu"
df_netflix["plataforma"] = "netflix"

In [18]:
#Dividimos la columna duration en dos partes una contendra el valor numerico y la otra parte el valor cualitativo, esas partes se almacenan en columnas dif
div = df_amazon["duration"].str.split(" ", n=1, expand=True)
df_amazon["time_of"] = div[0]
df_amazon["min_season"] = div[1]

In [19]:
div = df_disney["duration"].str.split(" ", n=1, expand=True)
df_disney["time_of"] = div[0]
df_disney["min_season"] = div[1]

In [20]:
div = df_hulu["duration"].str.split(" ", n=1, expand=True)
df_hulu["time_of"] = div[0]
df_hulu["min_season"] = div[1]

In [21]:
div = df_netflix["duration"].str.split(" ", n=1, expand=True)
df_netflix["time_of"] = div[0]
df_netflix["min_season"] = div[1]

In [22]:
#Eliminamos la columna duration ya que contiene informacion reduntante 
df_amazon.drop(["duration"], axis=1, inplace=True)
df_disney.drop(["duration"], axis=1, inplace=True)
df_hulu.drop(["duration"], axis=1, inplace=True)
df_netflix.drop(["duration"], axis=1, inplace=True)

In [23]:
#Imputamos valores faltantes
df_amazon.date_added.fillna("00-00-00", inplace=True)
df_amazon.fillna("Sin Dato", inplace=True)
df_disney.date_added.fillna("00-00-00", inplace=True)
df_disney.fillna("Sin Dato", inplace=True)
df_hulu.date_added.fillna("00-00-00", inplace=True)
df_hulu.fillna("Sin Dato", inplace=True)
df_netflix.date_added.fillna("00-00-00", inplace=True)
df_netflix.fillna("Sin Dato", inplace=True)

    Fase 2 y Fase 3

In [24]:
#IMPORTAREMOS LOS DATAFRAME A MYSQL USANDO sqlalchemy EN UNA BASE DE DATOS PREVIAMENTE CREADA
import pymysql
from sqlalchemy import create_engine

cadena_conexion = 'mysql+pymysql://root:@localhost:3306/PI_dataEngineer' #Creamos la cadena de conexion que sera el path de nuestra base de datos

conexion= create_engine(cadena_conexion) #creamos la conexion con mysql

In [25]:
#Concatenamos todos los dataframes en uno solo y lo exportamos a mysql con una funcion
def concatenarDf (df1, df2, df3,df4):
    plataformas = pd.concat([df1,df2,df3,df4]) 
    plataformas.to_sql("plataformas_stream", con=conexion, index=False)

In [26]:
concatenarDf(df_amazon,df_disney,df_netflix,df_hulu)